<ul class="cb-slideshow">
    <li><span>Image 01</span><div><h3></h3></div></li>
    <li><span>Image 02</span><div><h3></h3></div></li>
    <li><span>Image 03</span><div><h3></h3></div></li>
    <li><span>Image 04</span><div><h3></h3></div></li>
</ul>
<br><br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 form-center">
                <div class="input-group">
                    <div class="input-group-btn">
                        <select class="btn btn-primary btn-lg dropdown-toggle" ng-model="city" ng-change="getLoc(city)" ng-options="cit for cit in cities">
                            <option value="">Select City</option>
                        </select>
                    </div><!-- /btn-group -->
                    <input type="text" class="form-control input-lg" aria-label="..." placeholder="Enter your area" ng-model="location" typeahead-min-length="1" typeahead="loc.location for loc in locs | filter:$viewValue" typeahead-on-select="onSelect($item, $model, $label)">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="white-bg footer">
        <footer class="container">
            <div class="col-md-5 border-right">
                <p class="text-primary">Let us show you how we can help</p>
                <div class="gutter-bottom">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Subscribe</button>
                        </span>
                    </div>
                </div>
                <div class="clearfix gutter-bottom">
                    <a href=""><img src="images/facebook.png" alt="Facebook"></a>
                    <a href=""><img src="images/twitter.png" alt="Twitter"></a>
                    <a href=""><img src="images/instagram.png" alt="Instagram"></a>
                    <a href=""><img src="images/pinterest.png" alt="Pinterest"></a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="clearfix">
                    <div class="pull-left gutter-bottom">
                        <img src="images/cards.jpg" alt="Cards" class="img-responsive">
                    </div>
                    <div class="pull-right gutter-bottom">
                        <img src="images/google-play-badge.png" alt="Google Play">
                        <img src="images/app-store-badge.png" alt="Appile Play Store">
                    </div>
                </div>
                <div class="clearfix gutter-bottom">
                    <a ui-sref="jobs">Jobs</a> | <a ui-sref="policy">Cancellation, return and refund policy </a> | <a ui-sref="tandc">Terms and conditions</a> | <a ui-sref="faq">FAQ and Help Center</a>
                </div>
                <div class="clearfix text-right">
                    2016&nbsp; &copy;&nbsp; Time2Tiffin&nbsp;(Ranjith Software Labs Pvt Ltd)
                </div>
            </div>
        </footer>
    </section>