<ul class="cb-slideshow">
    <li><span>Image 01</span><div><h3></h3></div></li>
    <li><span>Image 02</span><div><h3></h3></div></li>
    <li><span>Image 03</span><div><h3></h3></div></li>
    <li><span>Image 04</span><div><h3></h3></div></li>
</ul>
    <section id="home-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 form-center">
                    <div class="input-group">
                      <div class="input-group-btn">
                        <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hyderabad <span class="caret"></span></button>
                      </div><!-- /btn-group -->
                      <input type="text" class="form-control input-lg" aria-label="..." placeholder="Enter your area" ng-model="location" typeahead-min-length="1" typeahead="loc.location for loc in locs | filter:$viewValue" typeahead-on-select="onSelect($item, $model, $label)">
                      <!--<button type="button" class="btn btn-default">Submit</button>    -->
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
            </div>
        </div>
    </section>
<!-- <section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 form-center">
                <div class="input-group">
                    <div class="input-group-btn">
                        <select class="btn btn-primary btn-lg dropdown-toggle" ng-model="city" ng-change="getLoc(city)" ng-options="cit for cit in cities">
                            <option value="">Select City</option>
                        </select>
                    </div>
                    <input type="text" class="form-control input-lg" aria-label="..." placeholder="Enter your area" ng-model="location" typeahead-min-length="1" typeahead="loc.location for loc in locs | filter:$viewValue" typeahead-on-select="onSelect($item, $model, $label)">
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <script type="text/javascript">
    $('#home-page').closest('body').find('.footer').removeClass('relative');
</script> -->